<div id="map_canvas">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
    <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" events="marker.events"></ui-gmap-marker>
    </ui-gmap-google-map>
</div>

<div class="modal fade" tabindex="-1" id="interestMarker" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Information marqueur</h4>
            </div>
            <div class="modal-body">
                <p>author: user</p>
                <p>camp: bool</p>
                <p>eau: bool</p>
                <p>douche: bool</p>
                <p>santé: bool</p>
                <p>nourriture: bool</p>
                <p>hébergement: bool</p>
                <p>Places: nb occupants/ nb places</p>
                <p>description: paragraphe</p>
                <p>Toilettes: boolean</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
